@using WebApplicationProyectoFinal.Models;
@model Store;

@{
    ViewData["title"] = "Crear";
}
<h5 class="card-title">Stores</h5>

<form method="post" asp-controller="Store" asp-action="Create" class="row g-3">

    <div class="col-md-4">
        <label for="name" class="form-label">Name Store</label>
        <input asp-for="Name" type="text" class="form-control" id="name" required>
    </div>

    <div class="col-md-4">
        <label for="street" class="form-label">Street</label>
        <input asp-for="Street" type="text" class="form-control" id="street" required>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Create Store</button>
    </div>
</form>